.sidebar{
    width: 30%;
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    flex-direction: column;
    margin-top: 30%;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    
  }
  .signin{
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 100%;
    border: gray 2px solid;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .signup{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: gray 2px solid;
    border-radius: 5px;
  }