*{
  margin:0;
  padding: 0;
}

.nav{
  background: black;
  display: flex;
  color: white;
  font-size: 30px;
  padding: 15px;
  justify-content: space-between;
}
.menu{

}
.box{
  display: flex;
}
.side-bar{
  width: 30%;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  flex-direction: column;
  margin-top: 30%;
}
#userid{
  height: 30px;
  border-radius: 10px;
  border: gray 3px solid;
}
#userpassword{
  height: 30px;
  border-radius: 10px;
  border: gray 3px solid;
}
.buttons{
  display: flex;
}
.signin{
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  width: 50%;
  border: gray 2px solid;
  border-radius: 5px;
}
.signup{
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  width: 50%;
  border: gray 2px solid;
  border-radius: 5px;
}
.nav-page{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.diet{
  width: 50%;
  margin: 0 20px;
}
.diary{
  width: 50%;
  margin: 0 20px;
}